.navbar {
    font-size: 18px;
}

.About {
    display: flex;
    padding-top: 45px;
}

.about-container {
    align-items: center;
    justify-content: center;
}

.about-desc {
    text-align: center;
    justify-content: center;
    padding: 95px 0;
}

.avatar {
    max-width:100%;
    height: auto;
}

.about-heading {
    font-size: 55px;
}

.about-resume {
    font-size: 16px;
    color:  #F6EABE;
}

.home-header {
    text-align: center;
    font-size: 2.4vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F6EABE;
}

.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
}

.eureqa-container, .gotgainz-container {
    display: flex;
    justify-content: center;
}

.projects-icons{
    color: #F6EABE;
}

a:link { 
    text-decoration: none; 
    padding: 15px;
    color:  #F6EABE;
}

.linkedin-link, .github-link {
    color:  #F6EABE;
}

a:hover {
   color: white;
}

.Connect {
    padding: 45px;
}

.send-btn{
    width: 100%;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background: #E08D3C;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}